# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.eggs/
.build/
build/
dist/
.venv/
venv/
ENV/
.env
pip-wheel-metadata/

# macOS
.DS_Store

# Editors/IDEs
.vscode/
.idea/

# Project data
weekly-input/
sample-data/

# Root-level CSVs only
/*.csv
